# On every push to main, run release-please to automatically handle the release process.
name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:

  release-please:
    runs-on: ubuntu-latest
    steps:

      - name: Get token
        id: get_installation_token
        uses: peter-murray/workflow-application-token-action@v2
        if: ${{ !env.TOKEN }}
        with:
          application_id: ${{ secrets.NARWHAL_BOT_APP_ID }}
          application_private_key: ${{ secrets.NARWHAL_BOT_SECRET }}
          organization: ${{ github.repository_owner }}
        env:
          TOKEN: ${{ secrets.TOKEN }}

      - uses: google-github-actions/release-please-action@v3
        with:
          token: ${{ secrets.token || steps.get_installation_token.outputs.token }}
          command: manifest
